@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "./themes.css";
}

@layer utilities {
  body {
    @apply bg-background-pure md:bg-background;
  }
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* TODO: add scrollbar-hide and scrollbar-default classes */
    scrollbar-width: none;
    outline: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .modal {
    @apply flex flex-col items-center border border-background-medium px-5 py-5;

    & .modal-title {
      @apply text-center text-xl font-bold text-foreground;
    }

    & .modal-description {
      @apply pt-2 pb-6 text-center text-sm text-foreground-medium;
    }

    & .icon-wrapper {
      @apply flex flex-grow items-center justify-center;
      @apply my-6 rounded-full p-4;

      & .icon {
        @apply h-24 w-24 stroke-1.5;
      }
    }

    & .modal-buttons {
      @apply flex w-full items-center space-x-3;
    }

    & .modal-button {
      @apply w-full rounded-lg px-2.5 py-2.5 md:py-2;
    }
  }
}
