@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "./themes.css";
}

@layer utilities {
  body {
    @apply bg-background-pure md:bg-background;
  }
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* TODO: add scrollbar-hide and scrollbar-default classes */
    scrollbar-width: none;
    outline: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .modal {
    @apply flex flex-col items-center border border-background-medium px-5 py-5;

    & .modal-title {
      @apply text-center text-xl font-bold text-foreground;
    }

    & .modal-description {
      @apply pt-2 text-center text-sm text-foreground-medium;
    }

    & .icon-wrapper {
      @apply flex flex-grow items-center justify-center;
      @apply my-6 rounded-full p-4;

      &.normal {
        @apply bg-gray-500 bg-opacity-10;
      }

      &.green {
        @apply bg-emerald-500 bg-opacity-10;
      }

      &.blue {
        @apply bg-blue-500 bg-opacity-10;
      }

      &.red {
        @apply bg-rose-500 bg-opacity-10;
      }

      &.yellow {
        @apply bg-amber-500 bg-opacity-10;
      }

      & .icon {
        @apply h-24 w-24 stroke-1.5;

        &.normal {
          @apply text-foreground;
        }

        &.green {
          @apply text-emerald-500;
        }

        &.blue {
          @apply text-blue-500;
        }

        &.red {
          @apply text-rose-500;
        }

        &.yellow {
          @apply text-amber-500;
        }
      }
    }

    & .modal-buttons {
      @apply mt-6 flex w-full items-center space-x-3;
    }

    & .modal-button {
      @apply w-full rounded-xl px-2.5 py-2.5;

      &.normal {
        @apply bg-foreground text-background;
      }

      &.green {
        @apply bg-emerald-500;
      }

      &.blue {
        @apply bg-blue-500;
      }

      &.red {
        @apply bg-rose-500;
      }

      &.yellow {
        @apply bg-amber-500;
      }
    }
  }

  .more-button {
    @apply absolute top-0 right-0 bg-background-pure;
    @apply mr-2 rounded-lg p-1.5 text-gray-400;
    @apply border border-transparent;
    @apply hover:border-background-medium hover:text-foreground hover:shadow;
    @apply box-content transition-all duration-300;

    & .icon {
      @apply w-5 text-current;
    }
  }
}
