:root {
  --primary-light: #0ea5e922;
  --primary: theme("colors.sky.500");

  --danger-light: #ef444411;
  --danger: theme("colors.red.500");

  --background-pure: theme("colors.white");
  --background: theme("colors.gray.50");
  --background-light: theme("colors.gray.50");
  --background-medium: theme("colors.gray.100");
  --background-dark: theme("colors.gray.200");

  --foreground-light: theme("colors.gray.400");
  --foreground-medium: theme("colors.gray.500");
  --foreground-dark: theme("colors.gray.700");
  --foreground: theme("colors.gray.900");
  --foreground-pure: theme("colors.black");
}

[data-theme="LIGHT-BLUE"] {
  --primary-light: #0ea5e922;
  --primary: theme("colors.sky.500");
}

[data-theme="LIGHT-GREEN"] {
  --primary-light: #10b98122;
  --primary: theme("colors.emerald.500");
}

[data-theme="LIGHT-RED"] {
  --primary-light: #f43f5e22;
  --primary: theme("colors.rose.500");
}

[data-theme="LIGHT-PURPLE"] {
  --primary-light: #6366f122;
  --primary: theme("colors.indigo.500");
}

[data-theme="LIGHT-ORANGE"] {
  --primary-light: #f9731622;
  --primary: theme("colors.orange.500");
}

[data-theme="LIGHT-YELLOW"] {
  --primary-light: #fbbf2422;
  --primary: theme("colors.amber.400");
}

[data-theme="LIGHT-BLUE"],
[data-theme="LIGHT-GREEN"],
[data-theme="LIGHT-RED"],
[data-theme="LIGHT-PURPLE"],
[data-theme="LIGHT-ORANGE"],
[data-theme="LIGHT-YELLOW"] {
  --danger-light: #ef444411;
  --danger: theme("colors.red.500");

  --background-pure: theme("colors.white");
  --background: theme("colors.gray.50");
  --background-light: theme("colors.gray.50");
  --background-medium: theme("colors.gray.100");
  --background-dark: theme("colors.gray.200");

  --foreground-light: theme("colors.gray.400");
  --foreground-medium: theme("colors.gray.500");
  --foreground-dark: theme("colors.gray.700");
  --foreground: theme("colors.gray.900");
  --foreground-pure: theme("colors.black");
}

// dim
[data-theme="DIM-BLUE"] {
  --primary-light: #0ea5e944;
  --primary: theme("colors.sky.500");
}

[data-theme="DIM-GREEN"] {
  --primary-light: #10b98144;
  --primary: theme("colors.emerald.500");
}

[data-theme="DIM-RED"] {
  --primary-light: #f43f5e44;
  --primary: theme("colors.rose.500");
}

[data-theme="DIM-PURPLE"] {
  --primary-light: #6366f144;
  --primary: theme("colors.indigo.500");
}

[data-theme="DIM-ORANGE"] {
  --primary-light: #f9731644;
  --primary: theme("colors.orange.500");
}

[data-theme="DIM-YELLOW"] {
  --primary-light: #fbbf2444;
  --primary: theme("colors.amber.400");
}

[data-theme="DIM-BLUE"],
[data-theme="DIM-GREEN"],
[data-theme="DIM-RED"],
[data-theme="DIM-PURPLE"],
[data-theme="DIM-ORANGE"],
[data-theme="DIM-YELLOW"] {
  --danger-light: #ef444444;
  --danger: theme("colors.red.500");

  --background-pure: theme("colors.gray.800");
  --background: theme("colors.gray.900");
  --background-light: theme("colors.gray.700");
  --background-medium: theme("colors.gray.600");
  --background-dark: theme("colors.gray.500");

  --foreground-light: theme("colors.gray.200");
  --foreground-medium: theme("colors.gray.300");
  --foreground-dark: theme("colors.gray.400");
  --foreground: theme("colors.gray.50");
  --foreground-pure: theme("colors.white");
}

// dark
[data-theme="DARK-BLUE"] {
  --primary-light: #0ea5e944;
  --primary: theme("colors.sky.500");
}

[data-theme="DARK-GREEN"] {
  --primary-light: #10b98144;
  --primary: theme("colors.emerald.500");
}

[data-theme="DARK-RED"] {
  --primary-light: #f43f5e44;
  --primary: theme("colors.rose.500");
}

[data-theme="DARK-PURPLE"] {
  --primary-light: #6366f144;
  --primary: theme("colors.indigo.500");
}

[data-theme="DARK-ORANGE"] {
  --primary-light: #f9731644;
  --primary: theme("colors.orange.500");
}

[data-theme="DARK-YELLOW"] {
  --primary-light: #fbbf2444;
  --primary: theme("colors.amber.400");
}

[data-theme="DARK-BLUE"],
[data-theme="DARK-GREEN"],
[data-theme="DARK-RED"],
[data-theme="DARK-PURPLE"],
[data-theme="DARK-ORANGE"],
[data-theme="DARK-YELLOW"] {
  --danger-light: #ef444444;
  --danger: theme("colors.red.500");

  --background-pure: theme("colors.black");
  --background: theme("colors.black");
  --background-light: #332e2d;
  --background-medium: theme("colors.stone.700");
  --background-dark: theme("colors.stone.600");

  --foreground-light: theme("colors.gray.300");
  --foreground-medium: theme("colors.gray.400");
  --foreground-dark: theme("colors.gray.500");
  --foreground: theme("colors.stone.50");
  --foreground-pure: theme("colors.white");
}
